body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Maximale Breite auf 400px beschränkt */
    box-sizing: border-box;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; /* Sorgt dafür, dass das Padding in die Breite eingerechnet wird */
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

#tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

select {
    font-size: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:focus {
    border-color: #007bff;
}

select option {
    padding: 10px;
}

/* Styling für das Tooltip */
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    z-index: 100;
}

input[type="text"] {
    font-family: monospace;
    text-transform: uppercase;
}

/* Responsives Design: sorgt dafür, dass die Seite auf kleinen Bildschirmen gut aussieht */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        max-width: 90%; /* Der Container nimmt maximal 90% der Breite des Bildschirms ein */
    }

    h2 {
        font-size: 1.25rem;
    }

    input, select, button {
        padding: 10px;
        font-size: 0.9rem;
    }
}
