body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    max-width: 300px;
    z-index: 10;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%); /* Vertikale Positionierung */
    pointer-events: none; /* Verhindert, dass die Tooltip die Eingabe blockiert */
}

.tooltip p {
    margin: 0;
    font-size: 14px;
}

input:hover + .tooltip {
    display: block;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
}
