body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: #333;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

#tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

select {
    font-size: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:focus {
    border-color: #007bff;
}

select option {
    padding: 10px;
}

/* Styling für das Tooltip */
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    z-index: 100;
}

input[type="text"] {
    font-family: monospace;
    text-transform: uppercase;
}
